name: Build Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "tag: git tag you want create. (sample 1.0.0)"
        required: true
        type: string
      dry-run:
        description: "dry-run: true will never create relase/nuget."
        required: true
        default: false
        type: boolean

jobs:
  update-packagejson:
    uses: ./.github/workflows/reusable-update-packagejson.yaml
    secrets:
      BOT_APP_ID: ${{ secrets.BOT_APP_ID }}
      BOT_PRIVATE_KEY: ${{ secrets.BOT_PRIVATE_KEY }}
    with:
      ref: ${{ github.ref }}
      file-path: ./Packages/SimplePackage/package.json
      tag: ${{ inputs.tag }}
      dry-run: ${{ inputs.dry-run }}

  release-notes:
    needs: [update-packagejson]
    uses: ./.github/workflows/reusable-release-notes.yaml
    with:
      commit-id: ${{ needs.update-packagejson.outputs.sha }}
      to-tag: ${{ needs.update-packagejson.outputs.normalized_tag }}

  create-release:
    needs: [update-packagejson, release-notes]
    uses: ./.github/workflows/reusable-create-release.yaml
    secrets:
      BOT_APP_ID: ${{ secrets.BOT_APP_ID }}
      BOT_PRIVATE_KEY: ${{ secrets.BOT_PRIVATE_KEY }}
    with:
      commit-id: ${{ needs.update-packagejson.outputs.sha }}
      dry-run: ${{ inputs.dry-run }}
      tag: ${{ inputs.tag }}
      release-note: ${{ needs.release-notes.outputs.notes }}

#  cleanup:
#    needs: [update-packagejson]
#    if: ${{ needs.update-packagejson.outputs.changed == '1' }}
#    uses: ./.github/workflows/reusable-clean-packagejson-branch.yaml
#    with:
#      branch: ${{ github.ref }}