name: (Reusable) Merge and Push

on:
  workflow_call:
    inputs:
      target-branch:
        description: 'Branch from target repository to merge'
        required: true
        type: string
      push-branch:
        description: 'Branch to push into'
        required: false
        type: string
        default: ''
      commit-id:
        description: 'Commit ID to create a release and tag.'
        required: false
        type: string
      dry-run:
        description: 'Dry-run mode (simulate without committing)'
        type: boolean
        default: false
    secrets:
      BOT_APP_ID:
        required: false
      BOT_PRIVATE_KEY:
        required: false
    outputs:
      has-merged:
        description: 'Whether the branches were merged successfully'
        value: ${{ jobs.merge-and-push.outputs.has-merged }}

jobs:
  merge-and-push:
    runs-on: ubuntu-22.04
    steps:
      - name: Check secrets availability
        id: check-secrets
        run: |
          if [ -n "${{ secrets.BOT_APP_ID }}" ] && [ -n "${{ secrets.BOT_PRIVATE_KEY }}" ]; then
            echo "available=1" >> "$GITHUB_OUTPUT"
          fi

      - name: Generate Token
        id: app-token
        if: ${{ steps.check-secrets.outputs.available == '1' }}
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}

      - name: Set Default Push Branch if Empty
        id: set-push-branch
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token || secrets.GITHUB_TOKEN }}
        run: |
          if [ -z "${{ inputs.push-branch }}" ]; then
            echo "push-branch=$(gh api /repos/owner/repo --jq '.default_branch')" >> "$GITHUB_OUTPUT"
            echo "::notice::Set Default Push Branch: $push-branch"
          else
            echo "push-branch=${{ inputs.push-branch }}" >> "$GITHUB_OUTPUT"
            echo "::notice::Set Default Push Branch: $push-branch"
          fi

      - name: Normalize Branch Names
        id: normalize-branches
        run: |
          normalize_branch() {
            echo "$1" | sed 's|^refs/heads/||'
          }
          target_branch_normalized=$(normalize_branch "${{ inputs.target-branch }}")
          push_branch_normalized=$(normalize_branch "${{ steps.set-push-branch.outputs.push-branch }}")

          echo "target-branch=${target_branch_normalized}" >> "$GITHUB_OUTPUT"
          echo "push-branch=${push_branch_normalized}" >> "$GITHUB_OUTPUT"
          echo "::notice::Target branch normalized: $target_branch_normalized"
          echo "::notice::Push branch normalized: $push_branch_normalized"

      - name: Check and Exit if Branches Match
        id: branches-match
        run: |
          if [ "${{ steps.normalize-branches.outputs.target-branch }}" = "${{ steps.normalize-branches.outputs.push-branch }}" ]; then
          echo "::notice::The push-branch and target-branch are the same after normalization. Exiting the workflow."
          echo "identical=1" >> "$GITHUB_OUTPUT"
          exit 0
          fi

      - name: Checkout Repository and Target Branch
        if: ${{ steps.branches-match.outputs.identical != '1' }}
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.commit-id || steps.normalize-branches.outputs.push-branch }}
          persist-credentials: false

      - name: Fetch Target Branch (${{ steps.normalize-branches.outputs.target-branch }})
        if: ${{ steps.branches-match.outputs.identical != '1' }}
        run: |
          set -e
          git fetch origin ${{ steps.normalize-branches.outputs.target-branch }}

      - name: Dry Run Merge
        if: ${{ steps.branches-match.outputs.identical != '1' && inputs.dry-run }}
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token || secrets.GITHUB_TOKEN }}
        run: |
          set -e
          echo "::notice::Dry-run mode is enabled. No merge will be performed."
          git merge --no-commit --no-ff origin/${{ steps.normalize-branches.outputs.target-branch }}

      - name: Merge Target Branch (${{ steps.normalize-branches.outputs.target-branch }}) to Push Branch (${{ steps.normalize-branches.outputs.push-branch }})
        if: ${{ steps.branches-match.outputs.identical != '1' && !inputs.dry-run }}
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token || secrets.GITHUB_TOKEN }}
        run: |
          set -e
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git merge origin/${{ steps.normalize-branches.outputs.target-branch }} || {
            echo "::error::Merge failed. Retrieving error details..."
            echo "Git Status:"
            git status
            
            echo "Last Commit Log:"
            git log -1
            
            echo "Available branches:"
            git branch -a
            
            exit 1
          }
          if git diff --exit-code; then
            echo "::notice::No changes detected after merge. Skipping commit."
            exit 0
          else
            git commit -m "Merged '${{ steps.normalize-branches.outputs.target-branch }}' into '${{ steps.normalize-branches.outputs.push-branch }}' via GitHub Actions"
          fi

      - name: Configure Git Authentication with Custom Token
        if: ${{ steps.branches-match.outputs.identical != '1' && steps.check-secrets.outputs.available == '1' }}
        run: |
          git config --global url."https://x-access-token:${{ steps.app-token.outputs.token }}@github.com/".insteadOf "https://github.com/"

      - name: Push to Branch (${{ steps.set-push-branch.outputs.push-branch }})
        if: ${{ steps.branches-match.outputs.identical != '1' && !inputs.dry-run }}
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token || secrets.GITHUB_TOKEN }}
        run: |
          set -e
          git push origin ${{ steps.normalize-branches.outputs.push-branch }}
          echo "has-merged=true" >> "$GITHUB_OUTPUT"
          echo "Merged: ${{ steps.normalize-branches.outputs.target-branch }} -> ${{ steps.normalize-branches.outputs.push-branch }}"