name: (Reusable) Create Release

on:
  workflow_call:
    inputs:
      commit-id:
        description: "CommitId to create release & tag."
        required: true
        type: string
      dry-run:
        description: "true = no upload. false = dry run changes && delete release after 60s."
        required: true
        type: boolean
      require-validation:
        description: "true require validation must pass, false to keep going even validation failed."
        required: false
        type: boolean
        default: true
      tag:
        description: "Git tag to create. (sample 1.0.0)"
        required: true
        type: string
      release-format: # see: https://docs.github.com/en/actions/learn-github-actions/expressions#format
        description: "Release format. (if 'Ver.{0}' is specified, the release title will be 'Ver.1.0.0'. set '{0}' if no prefix is preferred.)"
        required: false
        type: string
        default: 'Ver.{0}'
      release-note:
        description: "The custom release note to include in the release."
        required: false
        type: string
      draft-release:
        description: "true = Draft release, false = Non-draft release."
        required: false
        type: boolean
        default: false
    secrets:
      BOT_APP_ID:
        required: false
      BOT_PRIVATE_KEY:
        required: false
env:
  # Time to wait (in seconds) before deleting the release, only applicable during dry-run.
  WAIT_BEFORE_DELETE: 25

jobs:
  validate:
    uses: ./.github/workflows/reusable-validate-tag.yaml
    with:
      tag: ${{ inputs.tag }}
      require-validation: ${{ inputs.require-validation }}
    secrets: inherit

  create-release:
    needs: [validate]
    env:
      GH_REPO: ${{ github.repository }}
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
      - name: Check secrets availability
        id: check-secrets
        run: |
          if [ -n "${{ secrets.BOT_APP_ID }}" ] && [ -n "${{ secrets.BOT_PRIVATE_KEY }}" ]; then
            echo "available=1" >> "$GITHUB_OUTPUT"
          fi

      - name: Generate Token
        id: app-token
        if: ${{ steps.check-secrets.outputs.available == '1' }}
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}

      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.commit-id }}
          persist-credentials: false

      - name: Configure Git Authentication with Custom Token
        if: ${{ steps.check-secrets.outputs.available == '1' }}
        run: |
          git config --global url."https://x-access-token:${{ steps.app-token.outputs.token }}@github.com/".insteadOf "https://github.com/"

      - name: Create Tag
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token || secrets.GITHUB_TOKEN }}
        run: |
          git tag ${{ inputs.tag }}
          git push origin ${{ inputs.tag }}

      - name: Create Release
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token || secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ inputs.tag }} $([[ "${{ inputs.dry-run || inputs.draft-release }}" = "true" ]] && echo "--draft") \
            --verify-tag \
            --title "${{ format(inputs.release-format, inputs.tag) }}" \
            --generate-notes \
            --notes "${{ inputs.release-note }}"

      - name: Notify Release Completion
        run: |
          echo "::notice::Release '${{ inputs.tag }}' has been successfully created!"

      - name: Wait and Verify Release Name is expected
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token || secrets.GITHUB_TOKEN }}
        run: |
          sleep 5s
          actual=$(gh api --paginate /repos/${{ github.repository }}/releases?per_page=100 --jq '.[] | select(.tag_name == "${{ inputs.tag }}") | .name')
          expected="${{ format(inputs.release-format, inputs.tag) }}"
          if [[ "$actual" != "$expected" ]]; then
            echo "::error::Error: The release name does not match the expected value. Expected: '$expected', Actual: '$actual'."
            exit 1
          else
            echo "::notice::Success: The release name matches the expected value! Expected: '$expected', Actual: '$actual'."
          fi

      - name: Clean up. Wait ${WAIT_BEFORE_DELETE}s and delete release if dry-run. (dry-run=${{ inputs.dry-run }}})
        if: ${{ inputs.dry-run }}
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token || secrets.GITHUB_TOKEN }}
        run: |
          if gh release list | grep Draft | grep ${{ inputs.tag }}; then
            echo "::notice::Release '${{ inputs.tag }}' found. Waiting ${WAIT_BEFORE_DELETE} seconds before initiating deletion..."
            sleep $WAIT_BEFORE_DELETE
            if gh release list | grep Draft | grep ${{ inputs.tag }}; then
              gh release delete ${{ inputs.tag }} --yes --cleanup-tag
              echo "::notice::Release '${{ inputs.tag }}' successfully deleted."
            else
              echo "::notice::Release '${{ inputs.tag }}' no longer exists. Skipping deletion."
            fi
          else
            echo "::warning::Release '${{ inputs.tag }}' does not exist. Skipping cleanup."
          fi

      - name: Clean up release after failure
        if: ${{ failure() }}
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token || secrets.GITHUB_TOKEN }}
        run: |
          if gh release list | grep Draft | grep ${{ inputs.tag }}; then
            echo "::notice::Detected failure. Skipping wait and proceeding to deletion."
            gh release delete ${{ inputs.tag }} --yes --cleanup-tag
          else
            echo "::notice::Release '${{ inputs.tag }}' does not exist. Skipping cleanup."
          fi