name: (Reusable) Clean package.json branch

on:
  workflow_call:
    inputs:
      branch:
        description: "branch name to delete. Only delete branches that are created by github-actions[bot] and are not the default branch."
        required: true
        type: string
    secrets:
      BOT_APP_ID:
        required: false
      BOT_PRIVATE_KEY:
        required: false
    outputs:
      branch-deleted:
        description: "Indicate branch is deleted or not by boolean. true = branch deleted, false = branch not deleted."
        value: ${{ jobs.cleanup.outputs.branch-deleted }}

jobs:
  generate-app-token:
    runs-on: ubuntu-22.04
    outputs:
      available: ${{ steps.check-secrets.outputs.available }}
    steps:
      - name: Check secrets availability
        id: check-secrets
        run: |
          if [ -n "${{ secrets.BOT_APP_ID }}" ] && [ -n "${{ secrets.BOT_PRIVATE_KEY }}" ]; then
            echo "available=1" >> "$GITHUB_OUTPUT"
          fi

      - name: Generate Token
        if: ${{ steps.check-secrets.outputs.available == '1' }}
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}

      - name: Set Token
        if: ${{ steps.check-secrets.outputs.available == '1' && steps.app-token.outputs.token }}
        id: set-token
        run: |
          echo "Generating GitHub App token..."
          TOKEN=$(gh auth login --with-token)
          echo "::add-mask::$TOKEN"
          echo "APP_TOKEN=$TOKEN" >> "$GITHUB_ENV"

  cleanup:
    needs: [generate-app-token]
    env:
      GH_TOKEN: ${{ needs.generate-app-token.outputs.available == '1' && env.APP_TOKEN || secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    outputs:
      branch-deleted: ${{ steps.check-branch.outputs.deletable }}
    steps:
      - name: Check branch is deletable
        id: check-branch
        run: |
          default_branch=$(gh api /repos/${{ github.repository }} --jq '.default_branch')
          branch_info=$(gh api /repos/${{ github.repository }}/branches/${{ inputs.branch }} 2>/dev/null)

          if [[ "$default_branch" == "${{ inputs.branch }}" || \
                -z "$branch_info" ]]; then
            echo "Branch cannot be deleted: either it is the default branch, does not exist."
            echo "Branch: ${{ inputs.branch }}"
            exit 0
          fi

          echo "Branch is deletable."
          echo "Branch: ${{ inputs.branch }}"
          echo "deletable=1" | tee -a "$GITHUB_OUTPUT"

      - name: Delete branch
        if: ${{ steps.check-branch.outputs.deletable == '1' }}
        run: gh api -X DELETE /repos/${{ github.repository }}/git/refs/heads/${{ inputs.branch }}