name: (Reusable) Create Release

on:
  workflow_call:
    inputs:
      commit-id:
        description: "CommitId to create release & tag."
        required: true
        type: string
      dry-run:
        description: "true = no upload. false = dry run changes && delete release after 60s."
        required: true
        type: boolean
      require-validation:
        description: "true require validation must pass, false to keep going even validation failed."
        required: false
        type: boolean
        default: true
      tag:
        description: "Git tag to create. (sample 1.0.0)"
        required: true
        type: string
      release-format: # see: https://docs.github.com/en/actions/learn-github-actions/expressions#format
        description: "Release format. (if 'Ver.{0}' is specified, the release title will be 'Ver.1.0.0'. set '{0}' if no prefix is preferred.)"
        required: false
        type: string
        default: 'Ver.{0}'
      release-note:
        description: "The custom release note to include in the release."
        required: false
        type: string
      draft-release:
        description: "true = Draft release, false = Non-draft release."
        required: false
        type: boolean
        default: false
    secrets:
      BOT_APP_ID:
        required: false
      BOT_PRIVATE_KEY:
        required: false

jobs:
  validate:
    uses: ./.github/workflows/reusable-validate-tag.yaml
    with:
      tag: ${{ inputs.tag }}
      require-validation: ${{ inputs.require-validation }}
    secrets: inherit

  create-release:
    needs: [validate]
    env:
      GH_REPO: ${{ github.repository }}
    outputs:
      token: ${{ steps.app-token.outputs.token }}
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
      - name: Check secrets availability
        id: check-secrets
        run: |
          if [ -n "${{ secrets.BOT_APP_ID }}" ] && [ -n "${{ secrets.BOT_PRIVATE_KEY }}" ]; then
            echo "available=1" >> "$GITHUB_OUTPUT"
          fi

      - name: Generate Token
        id: app-token
        if: ${{ steps.check-secrets.outputs.available == '1' }}
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}

      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.commit-id }}
          persist-credentials: false

      - name: Configure Git Authentication with Custom Token
        if: ${{ steps.check-secrets.outputs.available == '1' }}
        run: |
          git config --global url."https://x-access-token:${{ steps.app-token.outputs.token }}@github.com/".insteadOf "https://github.com/"

      - name: Create Tag
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token || secrets.GITHUB_TOKEN }}
        run: |
          git tag ${{ inputs.tag }}
          git push origin ${{ inputs.tag }}

      - name: Create Release
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token || secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ inputs.tag }} $([[ "${{ inputs.dry-run || inputs.draft-release }}" = "true" ]] && echo "--draft") \
            --verify-tag \
            --title "${{ format(inputs.release-format, inputs.tag) }}" \
            --generate-notes \
            --notes "${{ inputs.release-note }}"

      - name: Wait and Verify Release Name is expected
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token || secrets.GITHUB_TOKEN }}
        run: |
          sleep 5s
          actual=$(gh api --paginate /repos/${{ github.repository }}/releases?per_page=100 --jq '.[] | select(.tag_name == "${{ inputs.tag }}") | .name')
          expected="${{ format(inputs.release-format, inputs.tag) }}"
          if [[ "$actual" != "$expected" ]]; then
            echo "Release name is not as expected. expected: $expected, actual: $actual"
            exit 1
          else
            echo "Release name is expected! expected: $expected, actual: $actual"
          fi

  delete-release:
    needs: [validate, create-release]
    env:
      GH_REPO: ${{ github.repository }}
      GH_TOKEN: ${{ needs.create-release.outputs.token || secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - name: Authenticate with GitHub CLI
        if: ${{ needs.create-release.outputs.token }}
        run: echo "${{ env.GH_TOKEN }}" | gh auth login --with-token

      - name: Clean up release
        if: ${{ inputs.dry-run || failure() }}
        run: |
          echo "Checking if release exists for tag: '${{ inputs.tag }}'..."
          if gh release list --repo "${{ env.GH_REPO }}" | grep -E "\b${{ inputs.tag }}\b"; then
            echo "Release found for tag '${{ inputs.tag }}'. Deleting release and associated tag..."
            sleep 20
            gh release delete "${{ inputs.tag }}" --yes --cleanup-tag --repo "${{ env.GH_REPO }}"
            echo "Release and tag deleted successfully."
          else
            echo "No release found for tag '${{ inputs.tag }}'. Skipping deletion."
          fi