name: (Reusable) Update package.json

on:
  workflow_call:
    inputs:
      file-path:
        description: "package.json path to update. You can input multiline paths. Supported files are `package.json`, `plugin.cfg` and `Directory.Build.props`"
        required: true
        type: string
      tag:
        description: "git tag you want create. (sample 1.0.0)"
        required: true
        type: string
      dry-run:
        description: "true to simularate commit but not push change."
        required: true
        type: boolean
      ref:
        description: "checkout ref"
        required: false
        type: string
        default: ''
    secrets:
      BOT_APP_ID:
        required: false
      BOT_PRIVATE_KEY:
        required: false
    outputs:
      sha:
        description: "Git commit sha after package.json has changed."
        value: ${{ jobs.update-packagejson.outputs.sha }}
      branch-name:
        description: "Git branch name created."
        value: ${{ jobs.update-packagejson.outputs.branch-name }}
      is-branch-created:
        description: "Indicate is Git branch created or not."
        value: ${{ jobs.update-packagejson.outputs.is-branch-created }}

jobs:
  validate-tag:
    uses: ./.github/workflows/reusable-validate-tag.yaml
    with:
      tag: ${{ inputs.tag }}
    secrets: inherit

  update-packagejson:
    needs: [validate-tag]
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    outputs:
      sha: ${{ steps.commit.outputs.sha }}
      branch-name: ${{ steps.configure.outputs.branch-name }}
      is-branch-created: ${{ steps.commit.outputs.is-branch-created }}
    steps:
      - name: Check secrets availability
        id: check-secrets
        run: |
          if [ -n "${{ secrets.BOT_APP_ID }}" ] && [ -n "${{ secrets.BOT_PRIVATE_KEY }}" ]; then
            echo "available=1" >> "$GITHUB_OUTPUT"
          fi
      - name: Generate Token
        if: ${{ steps.check-secrets.outputs.available == '1' }}
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}

      - name: Configure Output variables
        id: configure
        run: |
          echo "branch-name=test-release/${{ inputs.tag }}" | tee -a "$GITHUB_OUTPUT"

      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
          persist-credentials: false

      - name: Update files to version ${{ needs.validate-tag.outputs.normalized-tag }}
        run: |
          expected="${{ needs.validate-tag.outputs.normalized-tag }}"
          while read -r file_path; do

            if [[ -z "$file_path" ]]; then
              continue
            fi

            echo "Start $file_path"
            file_name=$(basename "$file_path")

            echo "::group::Before"
              cat "$file_path"
            echo "::endgroup::"

            echo "::group::Updating"
              if [[ "${file_name}" == "package.json" ]]; then
                # Unity `"version": "VersionString",`
                sed -i -e "s/\(\"version\":\) \"\(.*\)\",/\1 \"${{ needs.validate-tag.outputs.normalized-tag }}\",/" "${file_path}"
                actual=$(grep "version" "$file_path" | cut -d ':' -f 2 | tr -d ',' | tr -d '"' | tr -d ' ')
              else
                echo "Unknown file name ${file_name} is specified."
                exit 1
              fi
            echo "::endgroup::"

            echo "::group::After"
              cat "$file_path"
            echo "::endgroup::"

            echo "::group::Validate Change"
              if [[ "$actual" != "$expected" ]]; then
                echo "Failed. Path: $file_path, Expected: $expected, Actual: $actual"
                exit 1
              else
                echo "Success. Path: $file_path, Expected: $expected, Actual: $actual"
              fi
            echo "::endgroup::"
          done <<< "${{ inputs.file-path }}"

      - name: Check update on git
        id: check-update
        run: git diff --exit-code || echo "changed=1" | tee -a "$GITHUB_OUTPUT"

      - name: Commit files (updated? = ${{ steps.check-update.outputs.changed == '1' }})
        id: commit
        run: |
          if [[ "${{ steps.check-update.outputs.changed }}" == "1" ]]; then
            git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git config --local user.name "github-actions[bot]"
            git commit -m "feat: Update package.json to ${{ needs.validate-tag.outputs.normalized-tag }}" -m "Commit by [GitHub Actions](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})" -a
            echo "sha=$(git rev-parse HEAD)" | tee -a "$GITHUB_OUTPUT"
            echo "is-branch-created=${{ inputs.dry-run }}" | tee -a "$GITHUB_OUTPUT"
          elif [[ -n "${{ inputs.ref }}" ]]; then
            echo "sha=$(git rev-parse HEAD)" | tee -a "$GITHUB_OUTPUT"
            echo "is-branch-created=false" | tee -a "$GITHUB_OUTPUT"
          else
            echo "sha=" | tee -a "$GITHUB_OUTPUT"
            echo "is-branch-created=false" | tee -a "$GITHUB_OUTPUT"
          fi

      - name: Push changes
        if: ${{ steps.check-update.outputs.changed == '1' }}
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ steps.check-secrets.outputs.available == '1' && steps.app-token.outputs.token || secrets.GITHUB_TOKEN }}
          branch: ${{ inputs.ref }}
          tags: false
          force: ${{ inputs.dry-run }}