name: (Test) Validate Tag

on:
  workflow_dispatch:
    inputs:
      require-validation:
        description: "true - Rejects old or invalid tags. false - Continues even if validation fails."
        required: false
        default: false
        type: boolean
      validate-semantic-versioning:
        description: "Whether to validate tag format using Semantic Versioning"
        required: false
        default: true
        type: boolean
      tag:
        description: "tag: tag to validate"
        required: true
        type: string

jobs:
  validate-tag:
    uses: ./.github/workflows/reusable-validate-tag.yaml
    with:
      require-validation: ${{ inputs.require-validation }}
      validate-semantic-versioning: ${{ inputs.validate-semantic-versioning }}
      tag: ${{ inputs.tag }}
  
  print:
    needs: [ validate-tag ]
    runs-on: ubuntu-22.04
    steps:
      - name: Echo release notes
        run: |
          echo "::notice::normalized-tag: ${{ needs.validate-tag.outputs.normalized-tag }}, \
          tag: ${{ needs.validate-tag.outputs.tag }}, \
          validated: ${{ needs.validate-tag.outputs.validated }}"