name: (Test) Create Release

on:
  workflow_dispatch:

jobs:
  create-release:
    uses: ./.github/workflows/reusable-create-release.yaml
    secrets:
      BOT_APP_ID: ${{ secrets.BOT_APP_ID }}
      BOT_PRIVATE_KEY: ${{ secrets.BOT_PRIVATE_KEY }}
    with:
      commit-id: ${{ github.sha }}
      dry-run: true
      tag: "2.2.2"
      release-note: "Create release test."
      draft-release: true