name: (Test) Clean package.json branch

on:
  workflow_dispatch:

jobs:
  set-branch:
    runs-on: ubuntu-24.04
    outputs:
      branch: ${{ steps.set-branch.outputs.branch }}
    steps:
      - name: Set branch
        id: set-branch
        run: |
          branch="test-clean-package-branch/1.1.${{ github.run_number }}"
          echo "branch=$branch" >> "$GITHUB_OUTPUT"

  create-branch:
    needs: [set-branch]
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create branch - ${{ needs.set-branch.outputs.branch }}
        id: create-branch
        run: |
          branch_name="${{ needs.set-branch.outputs.branch }}"
          git checkout -b "$branch_name"

      - name: Push branch to remote - ${{ needs.set-branch.outputs.branch }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git push origin "${{ needs.set-branch.outputs.branch }}"

  clean-packagejson-branch:
    needs: [set-branch, create-branch]
    uses: ./.github/workflows/reusable-clean-packagejson-branch.yaml
    with:
      branch: ${{ needs.set-branch.outputs.branch }}

  check-branch-existence:
    needs: [set-branch, create-branch, clean-packagejson-branch]
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check if branch exists
        id: check-branch
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          branch_name="${{ needs.set-branch.outputs.branch }}"
          if git ls-remote --heads origin "$branch_name" | grep "$branch_name"; then
            echo "::error::Branch exists: $branch_name"
            exit 1
          fi