name: (Test) Validate Tag

on:
  workflow_dispatch:
    inputs:
      require-validation:
        description: 'true to disallow old tags or any invalid tags. false to proceed even if validation fails.'
        type: boolean
        default: false
      validate-semantic-versioning:
        description: 'Specifies whether to validate the tag format using Semantic Versioning.'
        type: boolean
        default: true
      tag:
        description: 'The tag to validate (e.g., 1.0.0).'
        required: true
        type: string

jobs:
  validate-tag:
    uses: ./.github/workflows/reusable-validate-tag.yaml
    with:
      require-validation: ${{ inputs.require-validation }}
      validate-semantic-versioning: ${{ inputs.validate-semantic-versioning }}
      tag: ${{ inputs.tag }}
  
  print:
    needs: [ validate-tag ]
    runs-on: ubuntu-22.04
    steps:
      - name: Echo release notes
        run: |
          echo "::notice::normalized-tag: ${{ needs.validate-tag.outputs.normalized-tag }}, \
          tag: ${{ needs.validate-tag.outputs.tag }}, \
          validated: ${{ needs.validate-tag.outputs.validated }}"